{{ define "main" }}
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10">
          <h1 class="" style="text-align: center;"><b>Spritle Software</b>- recognized as one of the Top 30-Healthcare Software Development Companies in the US.</h1>
        <div id="over" style="position:absolute; width:100%; height:100%">
            <img src="https://www.designrush.com/topbest/images/svg/agency-badges/healthcare-software-development-companies.svg" style="margin-top: 30px;">
           </div>
        <div class="content" style="margin-top: 250px; text-align: justify;">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
  
</section>
<style>
    
    #over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
</style>
{{ end }}