{{ define "main" }}
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10">
          <h1 class="" style="text-align: center;"><b>Spritle Software</b>- recognized as one of the Top 30-Healthcare Software Development Companies.</h1>
        <div id="over" style="position:absolute;"></div>
            <img src="https://www.designrush.com/topbest/images/svg/agency-badges/healthcare-software-development-companies.svg" style="margin-top: 30px; margin-left: auto;margin-right:auto; display: block;width: 300px; height: 300px;">
           
            <div class="content" style="text-align:justify;">
              <p style="margin-top: 40px;">We are really honored to say that <a href="https://www.designrush.com/agency/profile/spritle-software" target="_blank" style="color:#14AED5;text-decoration: none;">Spritle Software</a> is ranked in the top 30-Healthcare Software Development Companies by DesignRush.</p>
              
              <p >DesignRush is a guide to finding the best professional agencies, categorized by their areas of expertise. Also, DesignRush is a B2B Marketplace that showcases verified agencies that are trusted by Top Brands for Custom Healthcare Software Development Services. It has helped rank hundreds of agencies that are helping top brands in finding their go-to-development companies.</p>
             
              <p>DesignRush extends its involvement with technology companies like Spritle Software by offering personalized assistance and finding the right agency partner for your business needs.</p>
             
              <p>Spritle Software is a Custom Software Development Company with expertise in Digital Healthcare services. We build premium web and mobile applications by incorporating advanced technologies like AI & ML.</p>
             
              <p>Spritle Software is your go-to Technology Partner for the best-ever Automation Experience with an aim to innovate cutting-edge technologies for a better tomorrow.</p>
            </div>
         
        </div>
      </div>
    </div>
  </div>
  
</section>
{{ end }}