{{ define "main" }} {{ $data := index site.Data site.Language.Lang }}

{{if .Params.section1.enable }} {{with .Params.section1 }}
<section class="section-padding  bg-light-white has-bg-brash bg-brash-y" data-aos="fade-in" data-aos-delay="150">
  <h1 class="text-center font-weight-bold" >
    {{ .contet | markdownify }}
  </h1>
  {{ end }}  {{ end }}
{{if .Params.section1.enable }} {{with .Params.section1 }} {{ partial
  "right-image-left-text.html" .}} {{ end }} {{ end }}

  {{if .Params.section1.enable }} {{with .Params.section1 }}
<div>
  <h2 class="text-center ">
    Visit<b> <a style="text-decoration: none; color:  #14AED5;" href="https://www.surveillens.ai/" target="new">surveillens.ai </a></b>for more
    info.
  </h2>
</div>
  </section>
  {{ end }}  {{ end }}

<!-- start section -->
<section class="section-padding  bg-light-white has-bg-brash bg-brash-y" data-aos="fade-in" data-aos-delay="150">
  
{{if .Params.intro.enable }} {{with .Params.intro }} {{ partial
"left-image-right-text.html" .}} {{ end }} {{ end }}
</section>

<!-- end section -->
<!--mission section-->
{{if .Params.mission.enable }} {{with .Params.mission }} {{ partial
"missions.html" . }} {{ end }} {{ end }}
<!-- start of team-section -->
<section class="section-padding pb-40  bg-light-gray has-bg-brash bg-brash-y" data-aos="fade-in" data-aos-delay="150">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-9 text-center mb-40">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 mb-25">
        <div
          class="team-filters text-uppercase text-center w-100"
          data-toggle="buttons"
        >
          {{ $group := slice }} {{ range .Params.apps }} {{ $group = $group |
          append .group }} {{ end }} {{ range ( $group | uniq ) }}
          <label class="btn active mb-3">
            <input
              class="d-none"
              type="radio"
              name="shuffle-filter"
              value="{{ . |urlize}}"
              checked="checked"
            />
            {{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div id="masonry" class="row team-members has-colored-text">
      {{ range .Params.apps}}
      <div
        class="masonry-item team-item col-lg-3 col-sm-6 mt-4"
        data-groups='["{{.group | urlize}}"]'
      >
        <div class="text-center mb-30 shadow">
          <div class="team-image has-shapes d-inline-block mb-25"></div>

          <div class="col-lg-12 col-md-12">
            <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up">
              <div class="has-text-color h2">
                <img
                  width="50px"
                  height="50px"
                  loading="lazy"
                  src="{{ .image | absURL }}"
                  alt="{{.name}}"
                />
              </div>
              {{ if eq .event true }}
              <a href="{{ .link }}" target="new">
                <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">
                  {{ .name | markdownify }}
                </h5>
              </a>
              {{ else }}
              <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">
                {{ .name | markdownify }}
              </h5>
              {{ end }}

              <p>{{ .content | markdownify }}</p>
              <span>
                <p>{{ .builttitle | markdownify }}</p>
                <p>{{ .Builtby | markdownify }}</p>
              </span>

              <span> </span>
            </div>
          </div>
        </div>
        <!-- team item -->
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end of team-section -->
<!-- end section -->
<!--end section-->
<!-- start section -->

<!-- end section -->

<!-- start section -->

<!-- start section -->
{{if .Params.partnership.enable }} {{with .Params.partnership }}
<section class="section-padding  bg-light-white has-bg-brash bg-brash-y" data-aos="fade-in" data-aos-delay="150">
  <h1 class="text-center font-weight-bold" style="margin-bottom: 20px">
    {{ .contet | markdownify }}
  </h1>
  {{ end }} {{ end }}
{{if .Params.partnership }} {{with .Params.partnership }} {{ partial "right-image-left-text.html" .}}


{{ end }} {{ end }}
</section>
<!-- end section -->
<!--missiontwo section start-->
{{if .Params.missiontwo.enable }} {{with .Params.missiontwo }} {{ partial
"mission1.html" . }}
<div style="margin-top: 100px;margin-bottom: 100px;" class="m">
  <h2 class="text-center pt-5">
    “We got a good news✨ . We now have a dedicated team<br />
    and website for SAAS Integrations."
  </h2>

  <h2 class="text-center pt-1">
    Visit<b> <a style="text-decoration: none; color:  #14AED5;" href="https://saasly.in" target="new">saasly.in </a></b>for more
    info.
  </h2>
</div>

{{ end }} {{ end }}
<!--missiontwo section end-->
{{if .Params.minootsection }} {{with .Params.minootsection }}  {{ partial "our-process-left-image.html" .}}


{{ end }} {{ end }}
<!-- start section -->


<!-- start of Apps list section -->

<!-- end of Apps list  section -->
{{ end }}
