{{ define "main" }} {{ $data := index site.Data site.Language.Lang }} {{if
.Params.start.enable }} {{with .Params.start }} {{ partial
"processright-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section1}} {{with .Params.section1 }} {{ partial
"processleft-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section2.enable }} {{with .Params.section2 }} {{ partial
"processright-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section3 }} {{with .Params.section3 }} {{ partial
"processleft-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section4.enable }} {{with .Params.section4 }} {{ partial
"processright-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section5 }} {{with .Params.section5 }} {{ partial
"processleft-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section6.enable }} {{with .Params.section6 }} {{ partial
"processright-image.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{ end }}
