{{ define "main" }} {{ $data := index site.Data site.Language.Lang }}
<!-- start of video-testimonials -->
{{if .Params.featured_testimonial.enable }} {{with .Params.featured_testimonial
}}
<section class="section-padding has-shapes has-bg-brash bg-brash-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="pl-0 pl-lg-4">
          <h2 class="pb-20 mb-20">{{ .Title | markdownify }}</h2>
          <p class="border-bottom pb-20">{{ .subtitle | markdownify }}</p>
          <p class="text-black-900 pt-20">
            <span class="border-right pr-2 mr-2">{{ .name }}</span>
            <span>{{ .designation | markdownify }}</span>
          </p>
          {{if .button.enable }} {{with .button }}
          <a
            href="#"
            id="open-demo-modal"
            data-toggle="modal"
            data-target="#myModal"
            type="submit"
            class="btn btn-primary mt-15"
            >{{.button_label}}</a
          >

          {{ end }} {{ end }}
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="banner-image has-video-popup has-shapes mb-4 mb-md-5 mb-lg-0"
        >
          {{ if .video.enable }} {{ with .video }} {{ partial "videomodel.html"
          .}} {{ end }} {{ end }}
          <img
            loading="lazy"
            class="rounded img-fluid"
            src="{{ .image | absURL }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .video.enable }} {{ partial "video.html" .}} {{ end }} {{ end }} {{ end }}

<!--end-->
{{if .Params.genomic.enable }} {{with .Params.genomic }} {{ partial
"left-image-right-text.html" . }} {{ end }} {{ end }}

<!--end-->
{{if .Params.geosnapshot.enable }} {{with .Params.geosnapshot }} {{ partial
"right-image-left-text.html" . }} {{ end }} {{ end }}

<!--end-->
{{if .Params.phraze.enable }} {{with .Params.phraze }} {{ partial
"left-image-right-text.html" . }} {{ end }} {{ end }}

<!--end-->
{{if .Params.aivoicebot.enable }} {{with .Params.aivoicebot }} {{ partial
"right-image-left-text.html" . }} {{ end }} {{ end }}

<!--end-->
{{if .Params.computervision.enable }} {{with .Params.computervision }} {{
partial "left-image-right-text.html" . }} {{ end }} {{ end }}

<!--end-->
{{if .Params.start.enable }} {{with .Params.start }} {{ partial
"right-image-left-text.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section1}} {{with .Params.section1 }} {{ partial
"left-image-right-text.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section2.enable }} {{with .Params.section2 }} {{ partial
"right-image-left-text.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section3 }} {{with .Params.section3 }} {{ partial
"left-image-right-text.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section4.enable }} {{with .Params.section4 }} {{ partial
"right-image-left-text.html" . }} {{ end }} {{ end }}
<!-- end section -->

{{if .Params.section5 }} {{with .Params.section5 }} {{ partial
"left-image-right-text.html" . }} {{ end }} {{ end }}
<!-- end section -->
{{ partial "verticals-home.html" . }} {{partial "collect-info-modal.html" .}}
{{partial "collect-info-modal.html" .}}
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    var Choose = setTimeout(() => {
      $("#myModal").modal("show");
      clearTimeout(Choose);
    }, 6000);
  });
</script>

{{ end }}
