{{ define "main" }} {{ $data := index site.Data site.Language.Lang }}

<!-- start Intro section -->
{{if .Params.intro.enable }} {{with .Params.intro }}
  {{ partial "right-image-left-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Custom webapp section -->
{{if .Params.customWebapp.enable }} {{with .Params.customWebapp }}
  {{ partial "left-image-right-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Performance tuning section -->
{{if .Params.performance.enable }} {{with .Params.performance }}
  {{ partial "right-image-left-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Healthcare section -->
{{if .Params.Healthcare }} {{with .Params.Healthcare }}
  {{ partial "left-image-right-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Advanced section -->
{{if .Params.Advanced.enable }} {{with .Params.Advanced }}
  {{ partial "right-image-left-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Microservices section -->
{{if .Params.Microservices }} {{with .Params.Microservices }}
  {{ partial "left-image-right-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start API development section -->
{{if .Params.APIDevelopment.enable }} {{with .Params.APIDevelopment }}
  {{ partial "right-image-left-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Frontend section -->
{{if .Params.Frontend }} {{with .Params.Frontend }}
  {{ partial "left-image-right-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

<!-- start Custom open source section -->
{{if .Params.CustomandOpenSource.enable }} {{with .Params.CustomandOpenSource }}
  {{ partial "right-image-left-text.html" . }}
{{ end }} {{ end }}
<!-- end section -->

{{ end }}
