{{ define "main" }} {{ $data := index site.Data site.Language.Lang }} {{if
.Params.start.enable }} {{with .Params.start}}
<section class="section-padding has-shapes has-bg-brash bg-brash-top">
  <div class="container-1 shadow-sm col-md-6 col-lg-6">
    <div class="move">
      <img
        loading="lazy"
        class="img-fluid rounded-sm"
        src="{{ .image | absURL}}"
      />
      <h1>{{ .subtitle | markdownify }}</h1>

      <h3>{{ .content | markdownify }}</h3>

      <p class="mt-2">{{ .section | markdownify }}</p>

      <p class="mt-2">
        {{ .section1 | markdownify }}
        <span
          ><a href="{{ .target | markdownify }}"> Our Services</a> /
          <a href="{{ .target1 | markdownify }}">Products</a></span
        >
        {{ .section2 | markdownify }}
      </p>
    </div>
  </div>
</section>
{{end}} {{end}}

<style>
  .container-1 {
    margin-left: auto;
    margin-right: auto;
    box-shadow: black;
    background-color: #eee;
    border-radius: 10px;
  }

  .move {
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    align-items: center;
  }

  .move a {
    color: #14aed5;
  }

  .move p {
    font-size: 18px;
    color: black;
  }
</style>
{{end}}
