<script>
  window.fwSettings = {
    widget_id: 82000004922,
  };
  !(async function () {
    if ("function" != typeof window.FreshworksWidget) {
      var n = function () {
        n.q.push(arguments);
      };
      (n.q = []), (window.FreshworksWidget = n);
    }
  })();
</script>
<script defer
  type="text/javascript"
  src="https://ind-widget.freshworks.com/widgets/82000004922.js"
  async
  defer
></script>
<script defer>
  var button = document.querySelector(".job_apply");
  button.onclick = function () {
    FreshworksWidget("open");
  };
</script>
<script defer>
  (async function () {
    FreshworksWidget("hide", "launcher");
  })(); 
</script>
