{{if .Params.funfacts.enable }} {{with .Params.funfacts }}
<section class="section-padding pt-0">
  <div class="container">
    <div class="shadow px-4 pt-30">
      <div class="has-colored-text row no-gutters overflow-hidden">
        {{ range .funfacts_item }}
        <div
          class="col-lg-3 col-sm-6 text-center has-separator mb-30"
          data-aos="fade-up"
        >
          <p class="has-text-color mb-10 text-capitalize">{{ .name }}</p>
          <h2 class="text-black-200 font-weight-bold">
            <span class="jsCounter-2" data-count="{{ .count }}">0</span
            >{{.extension}}
          </h2>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
<!-- end section -->
