<section
  class="section-padding image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL }}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');"
  data-aos="fade-up"
  data-aos-delay="150"
>
  <div>
    <div class="container" style="padding-top: 100px; padding-bottom: 50px">
      <h1 style="text-align: center; margin-bottom: 80px;"><b>{{ .cont | markdownify }}</b></h1>
      <div class="row align-items-center justify-content-around">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="150">
          <div class="d-inline-block">
            <img
              loading="lazy"
              class="img-fluid"
              height="400px"
              width="400px"
              src="{{
            .image | absURL}}"
              alt="{{ .alt }}"
            />
          </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-10 mt-5 mt-lg-0">
          <h3 class="section-title">{{ .title | markdownify }}</h3>
          <p class="pb-20">{{ .content | markdownify }}</p>
          <h3>{{ .he | markdownify }}</h3>
          <ul class="check-list list-unstyled">
            {{ range .bulletpoints }}
            <li class="mb-15">
              <svg
                width="16"
                height="11"
                viewBox="0 0 18 13"
                class="text-primary mr-2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 6.125L6.91892 11L16 2"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              {{. | markdownify}}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-3 shape-xs-2 bg-secondary rounded-circle"></div>
  <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
  <div class="shape-5 shape-sm bg-primary rounded-circle"></div>
  <div class="shape-6 shape-xs bg-secondary rounded-circle"></div>
  <div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
</section>
