<section class="section-padding" data-aos="fade-up" data-aos-delay="150">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10 mt-5 mt-lg-0">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="pb-20">{{ .content | markdownify }}</p>
        <div class="has-colored-text growth-rate-counter">
          {{ range .facts }}
          <div class="d-inline-block block-sm mr-30 mt-10">
            <h2 class="has-text-color font-weight-bold">
              <span class="jsCounter" data-count="{{.count}}">0</span
              >{{.extension}}
            </h2>
            <p class="mt-10">{{ .name | markdownify }}</p>
          </div>
          {{ end }}
        </div>
        <ul class="check-list list-unstyled">
          {{ range .bulletpoints }}
          <li class="mb-15">
            <svg
              width="16"
              height="11"
              viewBox="0 0 18 13"
              class="text-primary mr-2"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 6.125L6.91892 11L16 2"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            {{. | markdownify}}
          </li>
          {{ end }}
        </ul>
        
        {{if .button.enable }} {{with .button }}
        <a
          href="{{ .link | absLangURL }}"
          type="submit"
          class="btn btn-primary has-icon mt-15"
          >{{.button_label}}
          <span class="icon"
            ><svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                fill="currentColor"
              />
            </svg>
          </span>
        </a>
        {{ end }} {{ end }}
      </div>
      
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block">
          <img
            loading="lazy"
            class="img-fluid rounded-sm"
            src="{{ .image | absURL}}"
          />
        </div>
      </div>
    </div>
    
  </div>
</section>
