<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-12 over my-auto">
            <img src="/images/testimonials/pagenotfound.png" style="margin-top: 30px; margin-left: auto;margin-right:auto; display: block;width: 500px; height: 400px;">
           
            <div class="content" style="text-align:center;">
                <h1 class="head">Page not found</h1>
                  <a href="/"
            class="btn btn-primary btn-submit landingform"
            type="submit">
            Back Home
            </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
*{
font-family: quicksand,sans-serif;
}

.over img{
    width:500px;
}

.btn-primary
{
  background-color: #13add5!important;
  color: white;
  width:150px;
  padding: 10px;
    border-radius: 4px;
    border-color: #46b8da;
    text-decoration: none;
}

.head
{
  font-size: 50px;
}
</style>